<html>
  <head>
    <title>App A Cohort</title>
    <link rel="stylesheet" href="//css/app.css">
  </head>
  <body>
    <div class="main">
      Bazinga! You came with the <b><%= configuration %></b> configuration!
      This is cohort A
    </div>
  </body>
</html>